*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 30px;
    color: #fff;
}

h2 {
    color: #fff;
    font-size: 30px;
    display: flex;
    background-color: rgb(80, 141, 121); 
    text-align: center;
    flex-direction: column;
    padding:30px;
}
body {
 background-color:rgba(27, 32, 38, 0.99);
}

header {
    height:230px;
    background-color: rgb(80, 141, 121);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

#formulario {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    background-color:  rgba(151, 156, 163, 0.99);
    box-shadow: 10px 10px 12px 5px black;
    margin: 20px;
    border-radius: 10px;
    width: 350px;
    padding: 20px;
}

.cards:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.cards:not(hover) {
    transition: transform 0.3s ease-in-out;

}

.informacion {
    margin: 20px;
}
p {
    font-size: 18px;
    margin: 0px 100px;
    color: #fff;
}
a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin: 80px;
}

img {
    width: 300px;
    height: 200px;
}

.texto-cards {
    margin-top: 30px;
    font-size: 24px;
}

.card-body {
   text-align: center;
   
}

.card-body p {
    color: #000;
}

.input-group {
    display: flex;
    align-items: flex-end;
}
.input-group input {
    margin-right: 5px;
}

#resultados {
    display: flex;
    text-align: center;
    background-color:rgba(27, 32, 38, 0.99);
    flex-direction: column;
    margin: 50px 50px;

}

#resultados p {
    font-size: 30px;
    color: #000;
    background-color: #fff;
    margin: 20px 0;
    text-align: center;
    border: 2px solid black;
}

footer {
    height:100px;
    background-color: rgb(80, 141, 121);
    text-align: center;
}

footer p {
    font-size: 25px;
    color: #000;
    padding-top: 30px;

}

h3 {
    color: #fff;
    font-size: 30px;
    display: flex;; 
    text-align: center;
    flex-direction: column;
    padding:30px;
}

.form-clima {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#clima-content {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.ciudad {
    font-size: 40px;
}

#clima {
    font-size: 30px;
    color: #fff;
    padding: 20px;   
    margin: 30px;
}

#ciudad {
    width: 200px;
    height: 30px;
    margin: 20px;
}

.consultar-clima {
    width: 180px;
    height: 30px;
    margin: 40px;
}

.chica-corriendo {
    width: 100%;
    height: 450px;
}